body {
	font-size: 16px;
	/*color: #fff;
	background-color: #61122f;*/
	font-family: 'Oxygen', sans-serif;
}


#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
	/*font-family: 'Lora', serif;*/
	color: #000;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/************** Large devices only **************/
@media (min-width: 1200px) {

}

/************** Medium devices only **************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/************** Small devices only **************/
@media (min-width: 768px) and (max-width: 991px) {

}

/************** Extra small devices only **************/
@media (max-width: 767px) {

}