body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #951C49;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 15px;
}

.navbar-brand h1 {
	color: #E7E7E7;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}

a:hover, a:focus {
	text-decoration: none;
}

#nav-list {
	background-color: #600a2a;
	margin-top: 0;
	margin-bottom: 0;
}

#nav-list a {
	color: #E7E7E7;
	text-align: center;
}

#nav-list a:hover {
	color: #600a2a;
	background-color: #E7E7E7;
}

#main-heading {
	margin-bottom: 20px;
}

h3 {
	color: #600a2a;
}

#chicken, #beef, #sushi {
	margin: 15px 0;
}

#chicken .col-md-11, #beef .col-md-11, #sushi .col-md-11 {
	background-color: #E7E7E7;
	padding-top: 5px;
	padding-bottom: 20px;
}

#chicken a, #beef a, #sushi a{
	color: #600a2a;
}

#chicken a:hover, #beef a:hover, #sushi a:hover{
	color: #951C49;
}

/************** Large devices only **************/
@media (min-width: 1200px) {
	#main-content {
		padding-left: 40px;
	}
}

                   /* Desktop */

/************** Medium devices only **************/	
@media (min-width: 992px) and (max-width: 1199px) {
	#main-content {
		padding-left: 40px;
	}
}
			       /* Tablet */

/************** Small devices only **************/
@media (min-width: 768px) and (max-width: 991px) {

}

			       /* Mobile */
/************** Extra small devices only **************/
@media (max-width: 767px) {

	#main-heading {
		margin-bottom: 0;
	}

	#chicken, #beef, #sushi {
		margin-top: 20px;
	}

}